/* Base Styles */
* {
    box-sizing: border-box;
}

html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    display: flex;
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
    padding: 0px 10px;
    flex-grow: 1;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    padding: 15px 30px;
}

main {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
}

.cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
    width: calc(33.33% - 0.079em);
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
    /* Instead of using float, use flex to make it responsive */
    flex: 1;
    max-width: 300px;
}

/* Responsive Stuff Here! */
@media (max-width: 1200px) {
    .cards li {
        width: 50%; /* 50% will divide evenly into 100% (2 columns) */
    }

    .sidebar {
        max-width: 100%; /* Allow the sidebar to occupy full width on smaller screens */
        height: auto;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack the navigation links vertically on smaller screens */
    }
}
